h1, h2, h3 {
  line-height: 10px;
  font-family: "Century Gothic";
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

h1 {
  font-size: 400%;
  color: deepskyblue;
  padding-top: 50px;
  padding-bottom: 0px;
}

h2 {
  font-size: 200%;
  color: deepskyblue;
  padding-top: 50px;
}

h3 {
  font-size: 150%;
  color: silver;
  padding-bottom: 25px;
}

h4 {
  font-size: 125%;
  color: deepskyblue;
  text-align: left;
  padding-left: 400px;
}

body, .img-text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  color: gray;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  font-family: "Garamond", "Century Gothic";
}

p {
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer {
  font-size: 15px;
  color: hotpink;
  font-family: "Castellar";
  padding-bottom: 50px;
  text-align: right;
  margin-right: 50px;
}

nav {
  font-size: 25px;
  list-style-type: none;
  margin: 0px;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 0px 0px;
  position: fixed;
  background-color: white;
  opacity: 0.85;
  filter: alpha(opacity=50);
}

ul {
  list-style-type: none;
}

li a {
  float: center;
  padding: 16px 32px;
  display: block;
  color: gray;
}

li.nav_bar {
  float: left;
} /* lists for navigation bar */

a:link, a:visited {
  color: gray;
  text-decoration: none; /* removes underline */
}

a:hover {
  color: deepskyblue;
  text-decoration: none;
}

/*
.projects_info {
  position: relative;
  height: 500;
}

.projects_img {
}

.projects_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  color: white;
  visibility: hidden;
  background: mistyrose;
  font-family: "Arial Narrow";
  transition: opacity .4s, visibility .4s;
}

.projects_info:hover .projects_description {
  visibility: visible;
  opacity: 1;
}
*/

.img-circle-text {
  margin-left: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-circle {
  margin-left: 25%;
  border-radius: 50%;
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.img-background-blog { /* need two divisions so that text is not as transparent as background image */
  position: relative;
  z-index: 5;
  color: gray;
}

.img-background-blog .photo {
  position: absolute;
  z-index: -1;
  filter: alpha(opacity=20);
  background-image: url("laptop.jpg");
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: -100px;
  bottom: 0;
  left: 0;
  right: -100px;
}

i[class^="icon-"]:before { /* removes underline for FontAwesome icons */
	display: inline-block;
	text-decoration: none;
}

.fa-cog {
  color: gray;
}
